<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - {{userTag}}</title>
    <link rel="stylesheet" href="/css/inicio.css">
    <link rel="shortcut icon" href="/img/2382-auto-mod-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="stars"></div>
    <header class="navbar">
        <div class="navbar-content">
            <img src="{{botAvatar}}" alt="Avatar del Bot" class="bot-avatar">
            <h1>{{userTag}}</h1>
            <p>Bienvenido al bot de {{userTag}}. Aquí puedes interactuar con una variedad de comandos útiles y
                divertidos para mejorar tu experiencia en Discord.</p>
            <a href="/dashboard" class="dashboard-button">Dashboard</a>
        </div>
    </header>
    <main>

        <section class="informacion">
            <div class="info-texto">
                <h2>Información</h2>
                <p>{{userTag}} es un bot multifuncional que ofrece una amplia gama de comandos diseñados para enriquecer
                    la experiencia en servidores de Discord a nivel global. Especialmente creado para hispanohablantes,
                    nuestro bot presenta embeds únicos y visualmente agradables. Nos enorgullecemos de proporcionar
                    diseños innovadores y estéticamente atractivos en cada uno de nuestros comandos.</p>

            </div>
            <div class="info-imagen">
                <img src="/img/diseño.png" alt="Diseño del Bot">
            </div>
        </section>

        <section class="informacion">
            <div class="info-texto">
                <h2>Reacciones</h2>
                <p>{{userTag}} es un bot versátil que ofrece una amplia gama de reacciones para que disfrutes. En su
                    lista de comandos, actualmente cuenta con <code>47</code> comandos de reacciones, y este número
                    seguirá creciendo a medida que añadamos nuevas y emocionantes opciones. Nuestro objetivo es seguir
                    expandiendo la variedad de reacciones disponibles para hacer que tus interacciones sean aún más
                    entretenidas. Además de los comandos de reacciones, también ofrecemos una selección de comandos NSFW
                    para quienes buscan contenido más maduro. ¡Explora todas las posibilidades que {{userTag}} tiene
                    para ofrecer y diviértete al máximo con nuestras características!</p>

            </div>
            <div class="info-imagen">
                <img src="/img/reacciones.png" alt="Diseño del Bot">
            </div>
        </section>

       <section class="desarrolladores">
    <h2 class="section-title">Desarrolladores</h2>
    <div class="desarrolladores-grid">
        <div class="desarrolladores-card">
            <div class="desarrolladores-avatar-container">
                <img src="/img/poke.png" alt="codingpoke" class="desarrolladores-avatar">
                <h2 class="title-card-desarrolladores">codingpoke</h2>
            </div>
            <p class="description-desarrolladores">
                Soy <strong>codingpoke</strong>, uno de los desarrolladores colaborativos de {{userTag}}. Mi rol
                principal es implementar sistemas avanzados y proporcionar soporte técnico al bot. Mi objetivo es
                asegurarme de que el bot funcione sin problemas y de que las nuevas funcionalidades se integren de
                manera eficiente para mejorar la experiencia de usuario.
            </p>
        </div>
        <div class="desarrolladores-card">
            <div class="desarrolladores-avatar-container">
                <img src="/img/equipo.png" alt="equipocraft" class="desarrolladores-avatar">
                <h2 class="title-card-desarrolladores">equipocraft</h2>
            </div>
            <p class="description-desarrolladores">
                Soy <strong>equipocraft</strong>, encargado del desarrollo y soporte del Dashboard de {{userTag}}.
                He trabajado en la creación y optimización de la interfaz de usuario para ofrecer una experiencia de
                administración fluida y agradable. Estoy entusiasmado por compartir con ustedes los avances que
                hemos logrado y espero que disfruten de las nuevas características que hemos implementado.
            </p>
        </div>
        <!-- Añadir más tarjetas de desarrolladores aquí si es necesario -->
    </div>
</section>


       <section class="socios">
    <h2 class="section-title">Socios</h2>
    <div class="socio-card">
        <div class="socio-avatar-container">
            <img src="/img/NighWhit.png" alt="NighWhit-socio" class="avatar-socio">
            <h2 class="title-card-socios">NighWhit</h2>
        </div>
        <p class="description-socios">
            <strong>NighWhit</strong> es nuestro primer socio oficial, y estamos emocionados de anunciar esta
            colaboración. Juntos, hemos logrado integrar características únicas que enriquecen la funcionalidad
            de {{userTag}}. NighWhit ha aportado una gran cantidad de recursos y conocimientos valiosos, y
            estamos ansiosos por continuar esta asociación para seguir mejorando nuestro bot.
        </p>
        <a href="https://discord.com/oauth2/authorize?client_id=1060664084535718069" class="button-socio">Invitación</a>
    </div>
</section>

    </main>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-info">
                <p>&copy; 2024 {{userTag}}. Todos los derechos reservados.</p>
                <p>Creado por {{userTag}}. | <a href="mailto:{{contactEmail}}">Contacto</a></p>
            </div>
            <div class="footer-links">
                <a href="/about">Sobre Nosotros</a> |
                <a href="/privacy-policy">Política de Privacidad</a> |
                <a href="/terms">Términos de Servicio</a> |
                <a href="/faq">FAQ</a>
            </div>
            <div class="footer-social">
                <a href="https://www.instagram.com/luna_net1589/" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-instagram"></i> Instagram
                </a> |
                <a href="https://discord.gg/jyggC9zXg4" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-discord"></i> Discord
                </a>

            </div>
            <div class="footer-disclaimer">
                <p>Este es un proyecto no oficial y no está afiliado con Discord.</p>
            </div>
        </div>
    </footer>
    <script src="/js/script.js"></script>
</body>

</html>