<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ - {{userTag}}</title>
    <link rel="stylesheet" href="/css/faq.css"> <!-- Asegúrate de tener un archivo CSS para el estilo -->
    <link rel="shortcut icon" href="/img/2382-auto-mod-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <header class="navbar">
        <a href="/dashboard" class="navbar-link">Regresar a Datos del Bot</a>
        <h1>Preguntas frecuentes de {{userTag}}</h1>
        <img src="{{botAvatar}}" alt="Avatar del Bot" class="header-avatar">
    </header>

    <main>
        <section id="faq">
            <h2>FAQ - Preguntas Frecuentes</h2>
            <div class="faq-item">
                <h3>1. ¿Qué es el bot Luna Net?</h3>
                <p>El bot Luna Net es un bot multifuncional para Discord diseñado para mejorar la experiencia en los
                    servidores. Ofrece una variedad de comandos y funcionalidades, incluyendo juegos, gestión de
                    servidores, encuestas, y más, todo en español.</p>
            </div>

            <div class="faq-item">
                <h3>2. ¿Cómo invito al bot a mi servidor?</h3>
                <p>Para invitar al bot Luna Net a tu servidor, usa el siguiente enlace de invitación: <a
                        href="{{botInvite}}">Enlace de Invitación</a>. Asegúrate de tener permisos de administrador en
                    el servidor para completar la invitación.</p>
            </div>

            <div class="faq-item">
                <h3>3. ¿Cómo puedo ver la lista de comandos disponibles?</h3>
                <p>Para ver la lista de comandos disponibles, utiliza el comando <code>/help</code>. Esto mostrará un
                    menú con todos los comandos que el bot ofrece y sus descripciones.</p>
            </div>

            <div class="faq-item">
                <h3>4. ¿Qué hago si un comando no funciona?</h3>
                <p>Si un comando no funciona, asegúrate de que estás escribiéndolo correctamente y de que tienes los
                    permisos necesarios para ejecutarlo. Si el problema persiste, contacta con el soporte utilizando el
                    comando <code>/contact</code> para informar sobre el problema.</p>
            </div>

            <div class="faq-item">
                <h3>5. ¿Cómo puedo reportar un error o un bug?</h3>
                <p>Puedes reportar errores o bugs utilizando el comando <code>/report-bug</code>. Proporciona una
                    descripción detallada del problema para que podamos investigar y solucionarlo lo antes posible.</p>
            </div>

            <div class="faq-item">
                <h3>6. ¿El bot tiene comandos exclusivos para el propietario?</h3>
                <p>Sí, el bot tiene algunos comandos exclusivos para el propietario, como el comando
                    <code>/send-dm</code> para enviar mensajes directos y <code>/servers</code> para mostrar la lista de
                    servidores en los que el bot está presente. Estos comandos solo pueden ser utilizados por el
                    propietario del bot.
                </p>
            </div>

            <div class="faq-item">
                <h3>7. ¿Puedo personalizar el comportamiento del bot en mi servidor?</h3>
                <p>Sí, muchos aspectos del bot pueden ser personalizados según las necesidades de tu servidor. Utiliza
                    los comandos <code>/settings</code> y <code>/customize</code> para ajustar las configuraciones del
                    bot y adaptarlo a tu servidor.</p>
            </div>

            <div class="faq-item">
                <h3>8. ¿Dónde puedo encontrar más información sobre el bot?</h3>
                <p>Para obtener más información sobre el bot, consulta el sitio web del bot o revisa la documentación
                    disponible en el servidor de soporte. Si tienes preguntas adicionales, puedes usar el comando
                    <code>/contact</code> para ponerte en contacto con el desarrollador.
                </p>
            </div>

            <div class="faq-item">
                <h3>9. ¿Qué hacer si tengo problemas con el bot?</h3>
                <p>Si enfrentas problemas con el bot, asegúrate de que esté actualizado a la última versión y que esté
                    funcionando correctamente. Para asistencia adicional, utiliza el comando <code>/contact</code> para
                    enviar un mensaje directo al desarrollador con los detalles del problema.</p>
            </div>

            <div class="faq-item">
                <h3>10. ¿Cómo puedo contribuir al desarrollo del bot?</h3>
                <p>Si deseas contribuir al desarrollo del bot, puedes visitar nuestro <a
                        href="https://forms.gle/XqU5xjsJWsGD6B947" target="_blank" rel="noopener noreferrer">formulario
                        de Google</a>
                    para hacer sugerencias, reportar errores o incluso aportar con contribuciones de código. Agradecemos
                    mucho la ayuda y el apoyo de la comunidad.</p>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-info">
                <p>&copy; 2024 {{userTag}}. Todos los derechos reservados.</p>
                <p>Creado por {{userTag}}. | <a href="mailto:{{contactEmail}}">Contacto</a></p>
            </div>
            <div class="footer-links">
                <a href="/about">Sobre Nosotros</a> |
                <a href="/privacy-policy">Política de Privacidad</a> |
                <a href="/terms">Términos de Servicio</a> |
                <a href="/faq">FAQ</a>
            </div>
            <div class="footer-social">
                <a href="https://www.instagram.com/luna_net1589/" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-instagram"></i> Instagram
                </a> |
                <a href="https://discord.gg/jyggC9zXg4" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-discord"></i> Discord
                </a>

            </div>
            <div class="footer-disclaimer">
                <p>Este es un proyecto no oficial y no está afiliado con Discord.</p>
            </div>
        </div>
    </footer>
</body>

</html>